In [34]:
import numpy as np
import pandas as pd
import seaborn as sns

In [35]:
ecomm = pd.read_csv("INSERT FILE PATH FOR UNCLEANED DATA")

In [36]:
ecomm.shape

(541909, 9)

In [37]:
ecomm.dtypes

index            int64
InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [38]:
## Pandas functions to change column data types
ecomm.InvoiceDate = pd.to_datetime(ecomm.InvoiceDate)
ecomm.Quantity = pd.to_numeric(ecomm.Quantity)

In [39]:
## Pandas fn that drops duplicate rows
ecomm = ecomm.drop_duplicates()

In [40]:
# Pandas fn that checks for null values in columns
ecomm.isnull().sum()

index               0
InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [41]:
## Replaces every blank description with the description that appears most frequently with the stockcode, or sets it to 'Blank' if a stockcode cannot be found
try:
    ecomm.Description = ecomm.groupby('StockCode')['Description'].apply(lambda x: x.fillna(x.mode().iloc[0]))
except IndexError:
    ecomm.Description = ecomm.Description.fillna('Blank')
    
## Pandas fn that fills null values with given parameter
ecomm.CustomerID = ecomm.CustomerID.fillna(0)

In [42]:
#No nulls left
ecomm.isnull().sum()

index          0
InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [43]:
## Creating new columns
ecomm['Time'] = ecomm.InvoiceDate.dt.time
ecomm['Month']= ecomm.InvoiceDate.dt.month_name()
ecomm['Year'] = ecomm.InvoiceDate.dt.year
ecomm['Day'] = ecomm.InvoiceDate.dt.day_name()
ecomm['Date'] = ecomm.InvoiceDate.dt.date
ecomm['Total Sales'] = ecomm['UnitPrice']*ecomm['Quantity']
ecomm = ecomm.drop('InvoiceDate', axis = 1)
ecomm = ecomm.drop('index', axis = 1)

In [44]:
## Checking if either unit price or quantity fall below 0
ecomm.UnitPrice.min()

np.float64(-11062.06)

In [45]:
ecomm.Quantity.min()

np.int64(-80995)

In [46]:
ecomm[ecomm['UnitPrice'] < 0]

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Time,Month,Year,Day,Date,Total Sales
299983,A563186,B,Adjust bad debt,1,-11062.06,0.0,United Kingdom,14:51:00,August,2011,Friday,2011-08-12,-11062.06
299984,A563187,B,Adjust bad debt,1,-11062.06,0.0,United Kingdom,14:52:00,August,2011,Friday,2011-08-12,-11062.06

In [47]:
ecomm[ecomm.Description.str.contains('debt')]

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Time,Month,Year,Day,Date,Total Sales
299982,A563185,B,Adjust bad debt,1,11062.06,0.0,United Kingdom,14:50:00,August,2011,Friday,2011-08-12,11062.06
299983,A563186,B,Adjust bad debt,1,-11062.06,0.0,United Kingdom,14:51:00,August,2011,Friday,2011-08-12,-11062.06
299984,A563187,B,Adjust bad debt,1,-11062.06,0.0,United Kingdom,14:52:00,August,2011,Friday,2011-08-12,-11062.06

In [48]:
## we aren't doing anything with debt so we can remove it
ecomm = ecomm[~ecomm.Description.str.contains('debt')]

In [49]:
ecomm[ecomm['Quantity'] < 0]

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Time,Month,Year,Day,Date,Total Sales
141,C536379,D,Discount,-1,27.50,14527.0,United Kingdom,09:41:00,December,2010,Wednesday,2010-12-01,-27.50
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,4.65,15311.0,United Kingdom,09:49:00,December,2010,Wednesday,2010-12-01,-4.65
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,1.65,17548.0,United Kingdom,10:24:00,December,2010,Wednesday,2010-12-01,-19.80
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,0.29,17548.0,United Kingdom,10:24:00,December,2010,Wednesday,2010-12-01,-6.96
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,0.29,17548.0,United Kingdom,10:24:00,December,2010,Wednesday,2010-12-01,-6.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,0.83,14397.0,United Kingdom,09:57:00,December,2011,Friday,2011-12-09,-9.13
541541,C581499,M,Manual,-1,224.69,15498.0,United Kingdom,10:28:00,December,2011,Friday,2011-12-09,-224.69
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,10.95,15311.0,United Kingdom,11:57:00,December,2011,Friday,2011-12-09,-54.75
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,1.25,17315.0,United Kingdom,11:58:00,December,2011,Friday,2011-12-09,-1.25
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,1.25,17315.0,United Kingdom,11:58:00,December,2011,Friday,2011-12-09,-6.25

In [51]:
# We will need discounts and returns to calculate sales revenue data for Tableau and we don't want to clog up our ML Algorithms with associations for discounts/returns so we'll create a new Dataframe
cleaned = ecomm.loc[ecomm['UnitPrice']>0]

In [ ]:
#cleaned.to_csv('INSERT FILE PATH/ecommerceUK_fullcleaned.csv', encoding = 'utf-8', index = False)